/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
background-image: url('/img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

/* Hero Section */
#home .hero {
    background: linear-gradient(to right, #0f4b5e, #3a9d9e);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#home h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#home p {
    font-size: 1.2em;
}

/* Section Styling */
section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}
/* portfolio section */
.boxed-section {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}